<div class = "middle">
    <h1> New Game</h1>
    <%= @letters%>
    <h4> Whats the longest word you can find?<h4>
    <form action="/score" method="post" data-turbo="false">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
    <input type ="text"  name="word" placeholder="Guess here">
    <input type="submit" value="Play" class="btn btn-primary">
    </form>
</div>